<div class="loading" *ngIf="loading">Loading...</div>

<div class="container"  *ngIf="!loading">
  <div class="row" *ngIf="details">

    <div class="col-sm-12" *ngIf="details.user">
      <div class="alert alert-success" role="alert" *ngIf="details.users[details.userIndex] === details.currentUser">On the clock</div>
    </div>

    <div class="col-sm-12"><h3>Round: {{details.round}}</h3></div>

  </div>
    
  <list [players]="players" [details]="details"></list>

</div>