<nav class="positions nav nav-pills nav-justified" *ngIf="positions">
  <a class="nav-item nav-link" *ngFor="let position of positions.list; let p = index" [ngClass]="{'active' : p == currentPosition}" (click)="selectPosition(p)">{{position}}</a>
</nav>

<form action="/" class="row">
  <div class="col-sm-12 pt-20 pb-20">
    <input type="search" name="search" class="form-control" placeholder="Search..." (keyup)="search($event)" />
  </div>
</form>

<!-- {{ rows | json }} -->

<div class="row player" *ngFor="let row of rows; let i = index;">
  <div class="col-sm-2 text-center" *ngIf="details.users">
    
    <b *ngIf="row.taken">DRAFTED</b>

    <button class="btn btn-success btn-block" (click)="add(row)" [disabled]="details.users[details.userIndex] !== details.currentUser" *ngIf="!row.taken">Draft</button>
<!-- 
    <b *ngIf="!playerDraftDetails(row)">Free Agent</b>
    <b *ngIf="playerDraftDetails(row)">TAKEN ROUND {{ playerDraftDetails(row).round }}</b> -->
    
  </div>
  <!-- <div class="col-sm-2">
    {{rows[i].position}}
  </div> -->
  <div class="col-sm name">
    <a (click)="select(playerDetails, row)" class="btn btn-link btn-block">{{rows[i].name}}</a>
  </div>
  <div class="col-sm-2">
    {{rows[i].teamAbbr}}
  </div>
</div>

<ng-template #playerDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{selectedPlayer?.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- {{selectedPlayer.image}} -->
    <p><img [src]="selectedPlayer?.image | safeHtml" class="rounded-circle" /></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<pagination
(goPage)="goToPage($event)"
(goNext)="onNext()"
(goPrev)="onPrev()"
[pagesToShow]="3"
[page]="page"
[perPage]="limit"
[count]="total"></pagination>