<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Dashboard</h2>

      <label> 
        <h5>Draft URL</h5>
        <p>Share with friends to compete weekly</p> 
        <input type="text" name="url" class="form-control" readonly="true" [(ngModel)]="settings.url + settings.uid" />
        <a href="{{settings.url + settings.uid}}">{{settings.url + settings.uid}}</a>
      </label>
  
      <label>
        <p>Invites</p>
        <input type="radio" name="public" value="true" [(ngModel)]="settings.public" /> Public
        <input type="radio" name="public" value="false" /> Friends Only
      </label>

    </div>
    <div class="col-sm" *ngIf="drafts">
      <h3>Drafts</h3>
      <ul class="drafts">
        <li *ngFor="let draft of drafts"><a href="/draft/{{draft.id}}">Draft</a></li>
      </ul>
    </div>
  </div>
</div>