<div class="pagination" *ngIf="count > 0">
  <span><!-- {{ getMin() }} of {{ getMax() }} of --> {{ count }} total rules</span>
  <span>{{page}} of {{ totalPages() }} pages</span>
  <button class="btn btn-secondary" (click)="onPrev()" [disabled]="page === 1">Previous</button>
  <!-- <button class="btn btn-secondary" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)">{{pageNum}}</button> -->
  <button class="btn btn-secondary" (click)="onNext()" [disabled]="lastPage()">Next</button>
</div>