<div class="container text-center">

  <div class="row">
    <div class="col-sm-12">
      <h3>ADMIN</h3>
    </div>

    <div class="col-sm-12 alert alert-info" role="alert" *ngIf="status">{{status}}</div>
    <div class="col-sm-12 alert alert-danger" role="alert" *ngIf="error">{{error}}</div>

    <div class="form-row">
      <div class="col-auto">
        <div class="form-check mb-2 mb-sm-0">
          <label class="form-check-label"><input type="checkbox" class="form-check-input" [(ngModel)]="options.single" value="1" /> Single Mode</label>
          <label class="form-check-label"><input type="checkbox" class="form-check-input" [(ngModel)]="options.test" value="1" /> Test Mode</label>
        </div>
      </div>
    </div>
    
    <div class="col-sm">
      <button class="btn btn-block btn-primary" [disabled]="loading">Players</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-primary" [disabled]="loading">Stats</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-primary" (click)="get('editorweekranks')" [disabled]="loading">Rankings</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-primary" (click)="get('researchinfo')" [disabled]="loading">Research Info</button>
    </div>

  </div>

</div>