<div class="container">

  <div class="progress" *ngIf="loading">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width': loading + '%'}"></div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
  <div class="alert alert-success" role="alert" *ngIf="status">{{status}}</div>

  <div class="row">
    <div class="col-sm">
      <form id="register">

        <h3>Register</h3>

        <label>Username: <input type="text" name="user" [(ngModel)]="register.user" class="form-control" required="true" /></label>

        <label>Password: <input type="password" name="pass" [(ngModel)]="register.pass" class="form-control" required="true" /></label>

        <label>Email: <input type="email" name="email" [(ngModel)]="register.email" class="form-control" required="true" /></label>

        <br />
        <button class="btn btn-block btn-secondary" (click)="doRegister()" [disabled]="registered">Register</button>

      </form>
    </div>
    <div class="col-sm">

    <form id="login">

      <h3>Login</h3>

      <label>Username: <input type="text" name="user" class="form-control" [(ngModel)]="login.user" /></label>

      <label>Password: <input type="password" name="pass" class="form-control" [(ngModel)]="login.pass" /></label>

      <br />
      <button class="btn btn-block btn-success" (click)="doLogin()" [disabled]="loggedIn">Login</button>

    </form>

    </div>
  </div>

</div>