<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Draft Dream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="loggedIn">
      <li class="nav-item active"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/players">Players</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin">ADMIN</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="loggedIn">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>