
$body-bg: rgba(0,0,0,.5);
$body: #000;
$body-color: #777;
$primary: #fff;

@import "~bootstrap/scss/bootstrap";

html, body {
  min-height: 100%;
  padding-bottom: 30px;
  height: 100%;
  background: $body;
  // background: $body-bg url('assets/images/bg.jpg') no-repeat top center fixed;
  background-size: cover;
}

root {
  main {
    background: $body-bg;
    padding-bottom: 100px;
  }
  h1 {
    padding: 20px 0;
  }
  nav {
    margin-bottom: 20px;
  }
  a:not([href]):not([tabindex]) {
    cursor: pointer;
    // color: $primary;
  }
  .nav-pills {
    .nav-item {
      cursor: pointer;
      &.active {
        color: $body-bg;
      }
    }
  }
  img {
    width: 150px;
    height: 150px;
  }
  textarea {
    width: 100%;
    height: 38px;
    padding: 5px;
  }
  .pagination {
    text-align: center;
    display: block;
    span {
      display: block;
      padding: 15px;
    }
  }
  .player.row {
    padding: 5px;
    a.btn {
      text-align: left;
    }
  }
  .progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  label {
    display: block;
  }
  .pt-20 {
    padding-top: 20px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 13px;
  }
  main {
    position: relative;
    z-index: 2;
  }
  .field {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    display: none;
  }
}